*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: rgb(255, 255, 255);
}

header{
    display: flex;
    justify-content: space-between;
}

header #dificult, #start{
    padding: 4px;
}

main{
    background-color: aqua;
}

.logo{
    margin: 25px;
}

.object{
    margin: 25px;
}

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    
    height: 600px;
    width: 600px;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid white;
    cursor: pointer;
}


footer{
    display: flex;
}


